body {
  font-family: Roboto;
  color: #000000;
}

.container {
  position: relative;
  overflow: hidden;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.e-commerce-shop {
  padding-top: 40px;
  overflow: hidden;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__product {
    max-width: 280px;
    margin-bottom: 30px;
    padding-bottom: 18px;
    text-decoration: none;
    color: #000;

    &:not(:nth-child(3n + 3)) {
      margin-right: 80px;
    }

    &:hover {
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0697115);
    }
  }

  &__product-image-container {
    height: 389px;
    overflow: hidden;
  }

  &__product-image {
    width: 280px;
    height: auto;
  }

  &__product-category {
    padding: 15px 20px 0;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a3a3a3;
  }

  &__product-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-top: 2px;
    padding: 2px 20px 0;
  }

  &__product-price {
    padding: 15px 20px 0;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
  }

  &__product-count {
    padding: 1px 20px 0;
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #a3a3a3;
  }

  &__product-add {
    border: 2px solid #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: 0;
    background: none;
    padding: 7px 14px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      background: #bdb4b4;
    }
  }
}

.loader {
  font-size: 1.8rem;
  padding: 3rem 0;
  text-align: center;

  &__info {
    margin-bottom: 1rem;
  }

  & span {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #545454;
    animation: loaderDot 1s cubic-bezier(0.45, 0.62, 0.12, 0.68) infinite;

    &:nth-child(2) {
      animation-delay: 100ms;
    }

    &:nth-child(3) {
      animation-delay: 200ms;
    }

    &:nth-child(4) {
      animation-delay: 300ms;
    }

    &:nth-child(5) {
      animation-delay: 400ms;
    }

    &:nth-child(6) {
      animation-delay: 500ms;
    }

    &:nth-child(7) {
      animation-delay: 600ms;
    }
  }
}

@keyframes loaderDot {
  0% {
    transform: scale(0.6);
  }

  30% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.6);
  }
}

.e-commerce-shop-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__first-column,
  &__third-column {
    width: 100px;
    height: 100%;
  }

  &__second-column {
    width: calc(100% - 200px);
    text-align: center;
  }

  &__basket-icon {
    width: 23px;
    height: 21px;
  }

  &__third-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__basket-count {
    margin-left: 8px;
    background: #000;
    padding: 2px 6px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    &--disable {
      visibility: hidden;
    }
  }

  &__basket-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
  }
}

.e-commerce-shop-basket {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100vh;
  background: #2b2b2b;
  color: #fff;
  padding: 143px 0 40px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: basket linear 0.3s;

  &__close-icon {
    width: 29px;
    height: 28px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    pointer-events: all;
  }

  &__product-row {
    padding: 20px 31px 20px 40px;
    border-top: 1px solid #424242;
    display: flex;

    &:last-child {
      border-bottom: 1px solid #424242;
    }
  }

  &__product-image-container {
    width: 83px;
    height: 83px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__product-image {
    width: 83px;
    height: auto;
  }

  &__product-info {
    padding-left: 17px;
    padding-top: 16px;
    width: calc(100% - 83px);
  }

  &__product-name {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  &__product-desc {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
  }

  &__product-button {
    background: #2b2b2b;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    width: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;

    &:hover {
      background: #d2cece;
      color: #000000;
    }
  }

  &__product-count-text {
    padding: 0 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
  }

  &__product-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    padding: 40px 31px 20px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.8px;
  }

  &__buy-button {
    border: 2px solid #ffffff;
    background: #2b2b2b;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 21px 93px;
    outline: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }

  &__buy-container {
    padding-top: 20px;
  }

  &__list-products {
    max-height: calc(100vh - 347px);
    overflow-y: auto;
  }

  &__empty {
    padding: 0 40px;
  }
}

@keyframes basket {
  0% {
    right: -340px;
  }
  100% {
    right: 0;
  }
}
